/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
.main-highlight-wrapper {
  background: #fafafa;
  margin-top: 44px;
  padding: 20px 0;
}
.links-wrapper ul {
  list-style: none;
}
.model {
  font-size: .85em;
}
.product-title {
  font-weight: 700;
  font-size: 56px;
}
.brief-description {
  font-size: 2em;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.main-image-wrapper {
  background-image: url("../images/home/mac-laptop.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}

/* Second Highlight Section */
.second-hightlight-wrapper {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.title-wraper {
  font-weight: 600;
  font-size: 56px;  
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}
.price-wrapper {
  color: #86868b; 
  font-size: 0.85em;
}
/* Third Highlight Section */
.third-highlight-wrapper {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}
/*Fourth Highlight Section */
.fourth-heghlight-wrapper {
  background: #fff;
}
.col-lg-6.left-side-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.left-side-inner-wrapper {
  margin: 1% 0.5% 0% 1%; 
}
.fourth-heghlight-wrapper .left-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  background-image:  url("../images/home/watch-series-5.jpg");
  padding-top: 54px; 
}
.right-side-inner-wrapper {
  margin: 1% 1% 0% 0.5%; 
}
.col-lg-6.right-side-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.fourth-heghlight-wrapper .right-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  padding-top: 54px;
  background-image:  url("../images/home/apple-card.jpg"); 
}
.description-wraper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px; 
}
/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
  background: #fff;
}

.fifth-heghlight-wrapper .left-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  background-image:  url("../images/home/apple-tv-background.jpg");
  padding-top: 54px; 
}
.fifth-heghlight-wrapper .right-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  padding-top: 54px;
  background-image:  url("../images/home/air-pods.jpg"); 
  color: #fff; 
  background-size: initial;
  background-color: #000;
  background-position: bottom;

}
.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.tvshow-logo-wraper {
  padding: 180px 0 150px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}

/*Sixth Highlight Section */
.sixth-heghlight-wrapper {
  background: #fff;
}
.product-title-small {
  font-weight: 700;
  font-size: 45px;
}
.sixth-heghlight-wrapper .left-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  background-image:  url("../images/home/macbook-pro.jpg");
  padding-top: 54px; 
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;  
}
.sixth-heghlight-wrapper .right-side-inner-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; 
  padding-top: 54px;
  background-image:  url("../images/home/new-ipad.jpg"); 
  background-size: initial;
  background-color: #000;
  background-position: bottom;

}


/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
  text-decoration: none;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li a {
  border-right: 1px solid #d2d2d7;
  padding: 0 5px;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
